<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/stili.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>  <!-- NOTA IL CAMBIAMENTO QUI -->
    </ul>
</nav>


{{ content }}

</body>
</html>
